body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 360px;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h2 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 0;
    color: #777;
    font-size: 14px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.tab.active {
    background-color: black;
    color: white;
}

.search-box {
    margin-top: 10px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #aaa;
}
#results button {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    background: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

#recentList {
    padding-left: 15px;
    font-size: 14px;
}
